#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#searchbar {
  padding-left: 10px;
  width: 400px;
  margin-top: 10vh;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5em;
  gap: 5em;
}

.card {
  height: 300px;
  width: 300px;
  border: 1px solid #4d4c4c;
  border-radius: 5px;
  padding: 2vh;
}
