#container {
  height: auto;
  width: 100vw;
  height: 100vh;
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-content: start;
  width: 400px;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  height: 100%;
  width: 100%;
}

form > div {
  margin: 2rem 0;
}

#btn-submit {
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--orange);
  font: inherit;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 1vh;
  font-size: 1.5vh;
}

#btn-cancel {
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--white);
  font: inherit;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 1vh;
  font-size: 1.5vh;
}

.region-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="file"] {
  display: none;
}

#upload-icon {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border: 1px solid #4d4c4c;
  border-radius: 5px;
  color: var(--white);
  font: inherit;
  background-color: var(--blackier);
  padding: 1vh;
  outline: unset;
}

.custom-file-upload:hover {
  cursor: pointer;
  background-color: var(--orange);
}

#pic {
  border: 1px solid #4d4c4c;
  border-radius: 5px;
  padding: 1vh;
  color: var(--white);
  background-color: var(--blackier);
  margin: 1rem 0;
  max-width: 120px;
  max-height: 120px;
}

#container-pwd > img {
  margin-right: 10px;
}
