:root {
  --white: #eeeeee;
  --orange: #f55604;
  --black: #2e2e2e;
  --blackier: #191919;
  --green: #22c55e;
}

a {
  text-decoration: none;
  color: unset;
}

html {
  background-color: black;
}

@font-face {
  font-family: "Offbit";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("https://fonts.cdnfonts.com/s/109666/OffBit-Regular.woff")
      format("woff");
}
@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("https://fonts.cdnfonts.com/s/109666/OffBit-101.woff") format("woff");
}
@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("https://fonts.cdnfonts.com/s/109666/OffBit-Dot.woff") format("woff");
}
@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  src:
    local(""),
    url("https://fonts.cdnfonts.com/s/109666/OffBit-101Bold.woff")
      format("woff");
}
@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  src:
    local(""),
    url("https://fonts.cdnfonts.com/s/109666/OffBit-Bold.woff") format("woff");
}
@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 700;
  src:
    local(""),
    url("https://fonts.cdnfonts.com/s/109666/OffBit-DotBold.woff")
      format("woff");
}

body {
  font-family: "Offbit";
  margin: 0;
  padding: 0;
}

svg {
  fill: var(--white);
  width: 28px;
  font-weight: bolder;
  color: var(--white);
}

input,
select {
  border: 1px solid #4d4c4c;
  border-radius: 5px;
  color: var(--white);
  font: inherit;
  background-color: var(--blackier);
  padding: 1vh;
  outline: unset;
}

input:-internal-autofill-selected {
  appearance: none;
  background-color: transparent !important;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--blackier);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #4d4c4c;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--orange);
  background-color: var(--orange);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.top-right {
  font-size: 2.5vh;
  align-self: end;
}

.bottom {
  justify-self: flex-end;
}

.center {
  align-self: center;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: circle;
}

.full-width {
  width: 100%;
}

.error-msg {
  padding-top: 5px;
  color: red;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
}
