:root {
    --white: #EEEEEE;
    --orange: #F55604;
    --black: #2E2E2E;
    --blackier: #191919;
}

a {
    text-decoration: none;
    color: unset;
}

html {
    background-color: black;
}

@font-face {
    font-family: 'Offbit';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://fonts.cdnfonts.com/s/109666/OffBit-Regular.woff') format('woff');
}
@font-face {
    font-family: '';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://fonts.cdnfonts.com/s/109666/OffBit-101.woff') format('woff');
}
@font-face {
    font-family: '';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('https://fonts.cdnfonts.com/s/109666/OffBit-Dot.woff') format('woff');
}
@font-face {
    font-family: '';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('https://fonts.cdnfonts.com/s/109666/OffBit-101Bold.woff') format('woff');
}
@font-face {
    font-family: '';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('https://fonts.cdnfonts.com/s/109666/OffBit-Bold.woff') format('woff');
}
@font-face {
    font-family: '';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('https://fonts.cdnfonts.com/s/109666/OffBit-DotBold.woff') format('woff');
}

body {
    font-family: 'Offbit';
    margin: 0;
    padding: 0;
}

svg {
    fill: var(--white);
    width: 28px;
    font-weight: bolder;
    color: var(--white);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.top-right {
    font-size: 2.5vh;
    align-self: end;
}

.bottom {
    justify-self: flex-end;
}

.center {
    align-self: center;
    align-items: center;
}


h1, h2, h3, h4 {
    margin: 0;
}

ul {
    list-style: circle;
}

.full-width {
    width: 100%;
}